body {
    font-family: "Open Sans", sans-serif;
    background-color: rgb(19, 19, 19);
  }
  
  a {
    color: #983fff;
    text-decoration: none;
  }
  
  a:hover {
    color: #983fff;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat", sans-serif;
  }
  
  /*--------------------------------------------------------------
  # Preloader
  --------------------------------------------------------------*/
  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
  }
  
  #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #983fff;
    border-top-color: #d2f9eb;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
  }
  
  @-webkit-keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  /*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
  .back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #983fff;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
  }
  
  .back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
  }
  
  .back-to-top:hover {
    background: #983fff;
    color: #fff;
  }
  
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }
  
  /*--------------------------------------------------------------
  # Disable AOS delay on mobile
  --------------------------------------------------------------*/
  @media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }
  
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  
  
  #header {
    height: 80px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    background: rgba(0, 0, 0, 0.91);
  }
  
  #header.header-transparent {
    background: transparent;
  }
  
  #header.header-scrolled {
    background: rgba(0, 0, 0, 0.91);
      height: 60px;
  }
  
  #header .logo h1 {
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
  }
  
  #header .logo h1 a,
  #header .logo h1 a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  #header .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
  }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /**
  * Desktop Navigation 
  */
  .navbar {
    padding: 0;
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .navbar li {
    position: relative;
  }
  
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 15px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: rgba(255, 255, 255, 0.7);
    white-space: nowrap;
    transition: 0.3s;
  }
  
  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  
  .navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 3px;
    left: 30px;
    background-color: #983fff;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .navbar a:hover:before,
  .navbar li:hover>a:before,
  .navbar .active:before {
    visibility: visible;
    width: 25px;
  }
  
  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #fff;
  }
  
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 30px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
  }
  
  .navbar .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #01036f;
  }
  
  .navbar .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover>a {
    color: #983fff;
  }
  
  .navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  
  .navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
  
  @media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
  
    .navbar .dropdown .dropdown:hover>ul {
      left: -100%;
    }
  }
  
  /**
  * Mobile Navigation 
  */
  .mobile-nav-toggle {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
  }
  
  @media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
    }
  
    .navbar ul {
      display: none;
    }
  }
  
  .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(1, 3, 91, 0.9);
    transition: 0.3s;
    z-index: 999;
  }
  
  .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 8px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
  }
  
  .navbar-mobile>ul>li>a:before {
    left: 20px;
  }
  
  .navbar-mobile a,
  .navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #0205a1;
  }
  
  .navbar-mobile a:hover,
  .navbar-mobile .active,
  .navbar-mobile li:hover>a {
    color: #3f43fd;
  }
  
  .navbar-mobile .getstarted,
  .navbar-mobile .getstarted:focus {
    margin: 15px;
  }
  
  .navbar-mobile .dropdown ul,
  .navbar-mobile .dropdown .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  }
  
  .navbar-mobile .dropdown ul li,
  .navbar-mobile .dropdown .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar-mobile .dropdown ul a,
  .navbar-mobile .dropdown .dropdown ul a {
    padding: 10px 20px;
  }
  
  .navbar-mobile .dropdown ul a i,
  .navbar-mobile .dropdown .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar-mobile .dropdown ul a:hover,
  .navbar-mobile .dropdown ul .active:hover,
  .navbar-mobile .dropdown ul li:hover>a,
  .navbar-mobile .dropdown .dropdown ul a:hover,
  .navbar-mobile .dropdown .dropdown ul .active:hover,
  .navbar-mobile .dropdown .dropdown ul li:hover>a {
    color: #983fff;
  }
  
  .navbar-mobile .dropdown>.dropdown-active,
  .navbar-mobile .dropdown .dropdown>.dropdown-active {
    display: block;
  }


/* team section */
#team{
    margin-top: 2%;
}           
    .page-title{
        color:#5bc0de;    
    }
    .member-content .social-content li a{
        display:inline-block;
        padding:0;
        min-width:40px;
        height:40px;
        font-size:21px;
        line-height:40px;
        color:#5cc9df;
        border-radius:5px;
        box-shadow:0 3px 0 0 transparent;
        -webkit-transition:all .3s ease-out;
        transition:all .3s ease-out;
    }
    
    .member-content .details {
        margin:20px 0 0 20px;
        position:relative;
        padding:30px;
        padding-left:100px;
        background:#f5f5f5;
        border-radius:10px;
        box-shadow:5px 5px 0 rgba(0,0,0,0.08);
        -webkit-transition:all .3s ease-out;
        transition:all .3s ease-out;
    }
    
    .member-content {
        margin-bottom:30px;
    }
    
    .member-thumb{
        text-align:center;
    }
    
    .member-thumb h4{
        font-size:21px;
        margin:10px 0;
        color:#fff
    }
    
    .member-thumb .title{
        font-size:18px;
        margin:10px 0;
        color:#5CC9DF;
    }
    
    #p{
        color:white
    }
    
    .member-content:hover .details {
        background:#5bc0de;
        color:#fff;
    }
    
    .member-content.right .details {
        margin:20px 20px 0 0;
        box-shadow:-5px 5px 0 rgba(0,0,0,0.08);
    }
    
    .member-content .details:after {
        display:block;
        content:"";
        position:absolute;
        left:-18px;
        top:30px;
        width:0px;
        height:0px;
        background:transparent;
        border:20px solid transparent;
        border-left:20px solid #f5f5f5;
        box-shadow:-3px 0 0 rgba(0,0,0,0.08);
        -webkit-transform:rotate(-45deg);
        transform:rotate(-45deg);
        -webkit-transition:border-left-color .3s ease-out;
        transition:border-left-color .3s ease-out;
    }
    
    .member-content.right .details:after {
        position:absolute;
        left:auto;
        right:-17px;
        border-left:20px solid transparent;
        border-right:20px solid #f5f5f5;
        box-shadow:3px 0 0 0 rgba(0,0,0,0.08);
        -webkit-transform:rotate(45deg);
        transform:rotate(45deg);
        -webkit-transition:border-right-color .3s ease-out;
        transition:border-right-color .3s ease-out;
    }
    
    .member-content:hover .details:after {
        border-left-color:#5CC9DF;
    }
    
    .member-content.right:hover .details:after {
        border-left-color:transparent;
        border-right-color:#5CC9DF;
    }
    
    .member-content .details:before {
        display:block;
        content:"\201D";
        position:absolute;
        left:20px;
        top:50px;
        font-size:120px;
        font-weight:800;
        line-height:60px;
        font-family:sans-serif;
        color:#5cc9df;
        -webkit-transition:all .3s ease-out;
        transition:all .3s ease-out;
    }
    
    .member-content:hover .details:before {
        color:#fff;
    }
    
    .member-content .social-content {
        list-style:none;
        margin:0;
        padding:0;
    }
    
    .member-content .social-content li {
        display:inline;
        text-align:center;
        margin:0 2px;
    }
    
    .member-content:hover .social-content li a {
        color:#fff;
    }
    
    .member-content .social-content li a:hover{
        background:#fff;
        color:#5cc9df;
        box-shadow:0 3px 0 0 rgba(0,0,0,0.05);
    }
                        